In [1]:
import pandas as pd
import numpy as np

In [2]:
# https://www.kaggle.com/ronitf/heart-disease-uci?select=heart.csv

heart_disease = pd.read_csv("../../datasets/heart.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
target_col = 'target'

In [35]:
y.value_counts()

1    165
0    138
Name: target, dtype: int64

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

X = heart_disease.drop(columns=[target_col])
y = heart_disease[target_col]

clf = DecisionTreeClassifier(random_state=0)
cross_val_score(clf, X, y, cv=10)

array([0.80645161, 0.83870968, 0.90322581, 0.86666667, 0.76666667,
       0.7       , 0.7       , 0.73333333, 0.7       , 0.8       ])

In [15]:
from sklearn.inspection import permutation_importance
from sklearn.model_selection import train_test_split

t = y

X_train, X_test, t_train, t_test = train_test_split(X, t, test_size=0.25,random_state=0)

model = clf.fit(X_train, t_train)

feature_names = X.columns

r = permutation_importance(model, X_test, t_test, n_repeats=30, random_state=0)
# print(r)
for i in r.importances_mean.argsort()[::-1]:
#      if r.importances_mean[i] - 2 * r.importances_std[i] > 0:
    print(f"{feature_names[i]:<8}"
          f"{r.importances_mean[i]:.3f}"
          f" +/- {r.importances_std[i]:.3f}")

cp      0.109 +/- 0.034
ca      0.043 +/- 0.023
thal    0.040 +/- 0.019
restecg 0.014 +/- 0.007
chol    0.013 +/- 0.020
exang   0.012 +/- 0.010
age     0.011 +/- 0.022
oldpeak 0.011 +/- 0.020
sex     0.001 +/- 0.019
slope   -0.001 +/- 0.006
fbs     -0.002 +/- 0.004
trestbps-0.005 +/- 0.011
thalach -0.006 +/- 0.030